@model DAL.Company_Job_Skills

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company_Job_Skills</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill_Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill_Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Jobs.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Jobs.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
