@using MVC_CORE.Models
@model Job
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job Position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Job Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobName)
        </dd>

        <dt>
            Job Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            Major
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major)
        </dd>

        <dt>
            Major Importance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorImp)
        </dd>

        <dt>
            Skill
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill)
        </dd>

        <dt>
            Skill Level
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>

        <dt>
            Skill Importance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillImp)
        </dd>

        <dt>
            Position Created
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileCreated)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">


        <li>@Html.ActionLink("My Profile Management Page", "CvmPlayer", "Company_Login")</li>
        <li>@Html.ActionLink("Show My List of Positions", "ShowAll", "Job")</li>
        <li>@Html.ActionLink("Create New Position", "Create", "Job")</li>

    </ul>
</div>
