@model DAL.Company_Locations

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company_Locations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State_Province_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_Province_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip_Postal_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip_Postal_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Profiles.Company_Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Profiles.Company_Website)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
